@media screen and (min-width: 500px) {
    header {
        grid-template-columns: 3fr 1fr 3fr;
    }

    #logo {
        grid-column: 2 / 3;
    }
    
    #menu {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;
    }

    h1 {
        font-size: 200%;
        grid-column: 1 / 4;
    }

    h3 {
        padding: 10px 0;
    }
    
    main .sidebar {
        grid-column: 1 / 2;
        display: grid;
        grid-template-columns: 1fr;
    }

    main .gallery {
        grid-column: 2 / 4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4px;
    }

    .sidebar {
        grid-row: 1 / 4;
        grid-row: 2;
    }

    .gallery:hover .clips:not(.clips:hover) {
        filter: blur(6px);
        transition: all 0.3s;
    }

    .clips:hover {
        filter: blur(0);
        transition: all 0.3s;
        transform: scale(1.3);
    }

    main {
        justify-self: center;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr;
    }

    .form-block {
        grid-column: 1 / 3;
    }

    .benefits {
        grid-column: 3 / 4;
    }

    #events {
        grid-column: 1 / 3;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #details {
        grid-column: 1 / 2;
    }
    
    #contacts {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    #footer-tech {
        grid-column: 3 / 4;
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width: 650px) {
    .form-block {
        grid-column: 1 / 4;
    }

    .benefits {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
}