@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    --base-color: aquamarine;
    --background-color: white;
    --text-color: black;
    --accent-color: blue;
    height: 100%;
}

* {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);

    min-height: 100%;

    text-align: center;
}

.thank-you {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.thank-you p {
    font-size: 50px;
    animation: tither 2s infinite ease-in-out;
}

@keyframes tither {
    0%, 100% {
        transform: rotate(0deg);
    }
    20%, 60% {
        transform: rotate(30deg);
    }
    40%, 80%  {
        transform: rotate(-30deg);
    }
}

.thank-you a {
    transition: all 1s;
    display: inline;
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    background-color: #2d5d4d;
    color: white;
    text-decoration: none;
    border: 0;
}

.thank-you a:hover {
    transition: all 1s;
    background-color: white;
    color: #2d5d4d;
    border: solid 3px #2d5d4d;
}