@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    --base-color: aquamarine;
    --background-color: white;
    --text-color: black;
    --accent-color: blue;
    height: 100%;
}

* {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);

    min-height: 100%;

    display: flex;
    flex-direction: column;
}

header {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: center;
}

header img {
    height: 80px;
    margin: auto auto;
    box-shadow: 0 0 10px black;
}

header span {
    font-size: 30px;
    margin: auto auto;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: var(--text-color);
 	position: absolute;
	top: 1rem;
	right: 1rem;
    cursor: pointer;
}

#menu::before {
	content: "\2630";
}

#menu.open::before {
	content: "X"; /* ||| */
}

.open {
    display: block;
}

nav {
    display: none;
    height: 100%;
    background-color: var(--text-color);
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    text-align: center;
    cursor: pointer;
}

nav ul li {
    height: 40px;
    width: 100%;
    align-content: center;
}

nav ul li a{
    color: var(--background-color);
    text-decoration: none;
}

nav ul li:hover {
    background-color: aqua;
    transition: 0.5s ease-out;
}

main {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
}

.hero {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.hero picture {
    margin: 0 auto;
}

.overlay {
    position: absolute;
    top: 10%;
    z-index: 0;
    padding: 0 10px;
    background-color: rgba(87, 87, 87, 0.651);
}

.overlay h1 {
    color: aliceblue;
}

main section {
    border: 1px solid darkgray;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0 10px black;
    min-height: 180px;
}

main ul {
    list-style: none;
    padding: 10px;
}

.card ul li {
    color: var(--text-color);
}

.card ul li a {
    color: var(--accent-color);
}

.card div {
    text-align: center;
    padding: 10px;
}

.map {
    text-align: center;
    margin-top: 20px;
}

.map iframe {
    width: 90%;
    min-width: 300px;
    max-width: 600px;
}

footer {
    height: 80px;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

h1, h2, .person-name {
    text-align: center;
    color: var(--text-color);
}

h1 {
    font-size: 20px;
    margin: 10px 0;
}

h2 {
    background-color: var(--base-color);
    height: 30px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header, footer {
    background-color: var(--base-color);
}

#theme {
    background-color: var(--text-color);
    border: 0;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
}

#theme::before {
    content: "🌗";
}

/* dark mode */

.dark {
    background-color: #141414;
    color: white;
}

#theme.dark {
    background-color: white;
}

#theme.dark::before {
    content: "☀️";
}

nav ul li a.dark {
    background: none;
    color: #141414;
}

#navigation.dark {
    background-color: white;
}

header.dark, footer.dark {
    background-color: #2d5d4d;
}

.person-name.dark {
    background: none;
}

h2.dark {
    background-color: #2d5d4d;
}

.week.dark {
    color: white;
}

.week a.dark {
    color: aqua;
}