html {
    --base-color: aquamarine;
    --background-color: white;
    --text-color: black;
    --accent-color: blue;
}

* {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
}

header {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: center;
}

header img {
    height: 80px;
    margin: auto auto;
    box-shadow: 0 0 10px black;
}

header span {
    font-size: 30px;
    margin: auto auto;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: var(--text-color);
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X"; /* ||| */
}

.open {
    display: block;
}

nav {
    display: none;
    height: 100%;
    background-color: var(--text-color);
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    height: 40px;
    width: 100%;
    align-content: center;
}

nav ul li a{
    color: var(--background-color);
    text-decoration: none;
}

nav ul li:hover {
    background-color: aqua;
}

main {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
}

main section {
    border: 1px solid darkgray;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0 10px black;
    min-height: 180px;
}

main ul {
    list-style: none;
    padding: 10px;
}

.card ul li {
    color: var(--text-color);
}

.card ul li a {
    color: var(--accent-color);
}

footer {
    height: 80px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 20px;
}

h1, h2, .person-name {
    text-align: center;
    color: var(--text-color);
}

h1 {
    font-size: 20px;
    margin: 10px 0;
    color: var(--text-color);
}

h2 {
    background-color: var(--base-color);
    height: 30px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header, footer {
    background-color: var(--base-color);
}

#theme {
    background-color: var(--text-color);
    border: 0;
    border-radius: 5px;
    padding: 3px;
}

#theme::before {
    content: "🌗";
}